{{define "dashboard"}}
{{template "head" .}}
<dl class="dl-horizontal">
  <dt>Hostname</dt>
  <dd>{{.HWInfo.Hostname}}</dd>
  <dt>Version</dt>
  <dd>{{.Version}}</dd>
</dl>
<fieldset>
<legend>System</legend>
  <dl class="dl-horizontal">
    <dt>Manufacturer</dt>
    <dd>{{.HWInfo.System.Manufacturer}}</dd>
    <dt>Product</dt>
    <dd>{{.HWInfo.System.Product}}</dd>
    <dt>Product Version</dt>
    <dd>{{.HWInfo.System.ProductVersion}}</dd>
    <dt>Serial Number</dt>
    <dd>{{.HWInfo.System.SerialNumber}}</dd>
{{if eq .HWInfo.OpSys.Kernel "darwin"}}
    <dt>Boot ROM Version</dt>
    <dd>{{.HWInfo.System.BootROMVersion}}</dd>
    <dt>SMCVersion</dt>
    <dd>{{.HWInfo.System.SMCVersion}}</dd>
{{else}}
    <dt>BIOS Vendor</dt>
    <dd>{{.HWInfo.System.BIOSVendor}}</dd>
    <dt>BIOS Date</dt>
    <dd>{{.HWInfo.System.BIOSDate}}</dd>
    <dt>BIOS Version</dt>
    <dd>{{.HWInfo.System.BIOSVersion}}</dd>
{{end}}
  </dl>
</fieldset>
<fieldset>
<legend>CPU</legend>
  <dl class="dl-horizontal">
    <dt>Model</dt>
    <dd>{{.HWInfo.CPU.Model}}</dd>
    <dt>Flags</dt>
    <dd>{{.HWInfo.CPU.Flags}}</dd>
    <dt>Logical CPU's</dt>
    <dd>{{.HWInfo.CPU.Logical}}</dd>
    <dt>Physical CPU's</dt>
    <dd>{{.HWInfo.CPU.Physical}}</dd>
    <dt>Sockets</dt>
    <dd>{{.HWInfo.CPU.Sockets}}</dd>
    <dt>Cores Per Socket</dt>
    <dd>{{.HWInfo.CPU.CoresPerSocket}}</dd>
    <dt>Threads Per Core</dd>
    <dd>{{.HWInfo.CPU.ThreadsPerCore}}</dd>
  </dl>
</fieldset>
<fieldset>
<legend>Memory</legend>
  <dl class="dl-horizontal">
    <dt>Total (GB)</dt>
    <dd>{{.HWInfo.Memory.TotalGB}}</dd>
  </dl>
</fieldset>
<fieldset>
<legend>Operating System</legend>
  <dl class="dl-horizontal">
    <dt>Kernel</dt>
    <dd>{{.HWInfo.OpSys.Kernel}}</dd>
    <dt>Kernel Version</dt>
    <dd>{{.HWInfo.OpSys.KernelVersion}}</dd>
    <dt>Kernel Version</dt>
    <dd>{{.HWInfo.OpSys.Product}}</dd>
    <dt>Product Version</dt>
    <dd>{{.HWInfo.OpSys.ProductVersion}}</dd>
  </dl>
</fieldset>
{{template "footer" .}}
{{end}}
