<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>

    <!-- Bootstrap custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <meta name="author" content="Michael Persson" />
    <meta name="copyright" content="Copyright (C) 2015, IMC. All rights reserved." />
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/system">Peekaboo</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li {{if eq .Title "System"}}class="active"{{end}}><a href="/system">System</a></li>
            <li {{if eq .Title "Network"}}class="active"{{end}}><a href="/network">Network</a></li>
            <li {{if eq .Title "Storage"}}class="active"{{end}}><a href="/storage">Storage</a></li>
            <li {{if eq .Title "PCI"}}class="active"{{end}}><a href="/pci">PCI</a></li>
            <li {{if eq .Title "Sysctl"}}class="active"{{end}}><a href="/sysctl">Sysctl</a></li>
          </ul>
	</div>
	<div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="btn-group navbar-btn">
                <button class="btn btn-default">Action</button>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="/json">JSON</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page -->
    <div class="container">
