{{template "head" .}}
<legend>System</legend>
  <dl class="dl-horizontal">
    <dt>Manufacturer</dt>
    <dd>{{.System.Manufacturer}}</dd>
    <dt>Product</dt>
    <dd>{{.System.Product}}</dd>
    <dt>Product Version</dt>
    <dd>{{.System.ProductVersion}}</dd>
    <dt>Serial Number</dt>
    <dd>{{.System.SerialNumber}}</dd>
    <dt>BIOS Vendor</dt>
    <dd>{{.System.BIOSVendor}}</dd>
    <dt>BIOS Date</dt>
    <dd>{{.System.BIOSDate}}</dd>
    <dt>BIOS Version</dt>
    <dd>{{.System.BIOSVersion}}</dd>
  </dl>
</fieldset>
<fieldset>
<legend>CPU</legend>
  <dl class="dl-horizontal">
    <dt>Model</dt>
    <dd>{{.CPU.Model}}</dd>
    <dt>Flags</dt>
    <dd>{{.CPU.Flags}}</dd>
    <dt>Logical CPU's</dt>
    <dd>{{.CPU.Logical}}</dd>
    <dt>Physical CPU's</dt>
    <dd>{{.CPU.Physical}}</dd>
    <dt>Sockets</dt>
    <dd>{{.CPU.Sockets}}</dd>
    <dt>Cores Per Socket</dt>
    <dd>{{.CPU.CoresPerSocket}}</dd>
    <dt>Threads Per Core</dd>
    <dd>{{.CPU.ThreadsPerCore}}</dd>
  </dl>
</fieldset>
<fieldset>
<legend>Memory</legend>
  <dl class="dl-horizontal">
    <dt>Total (GB)</dt>
    <dd>{{.Memory.TotalGB}}</dd>
  </dl>
</fieldset>
<fieldset>
<legend>OS</legend>
  <dl class="dl-horizontal">
    <dt>Kernel</dt>
    <dd>{{.OS.Kernel}}</dd>
    <dt>Kernel Version</dt>
    <dd>{{.OS.KernelVersion}}</dd>
    <dt>Kernel Version</dt>
    <dd>{{.OS.Product}}</dd>
    <dt>Product Version</dt>
    <dd>{{.OS.ProductVersion}}</dd>
  </dl>
</fieldset>
{{template "footer" .}}
