/* Remove round corners on navbar */
.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;

  box-shadow: 0px 5px 5px 0px #888888;
}

.top-margin {
  margin-top: 30px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 46px;
  padding: 6px 0px 3px 0px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

.navbar-right {
  margin-right: 15px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.nav-pills {
  margin-bottom: 15px;
}

/* Active */
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  font-weight: bold;
  background-color: #141414;
}

/* Hover */
.navbar .nav > li > a:hover {
  background-color: #040404;
}

/* Sorting arrows in Smart Table */
.st-sort-ascent:after {
  content: '\25B2';
}

.st-sort-descent:after {
  content: '\25BC';
}

/* Change curtsor for sort in Smart table*/
.sortable th {
  cursor: pointer;
}

/*
 * Flash Alerts
 */

.alert {
    margin-left: 190px;
    width: 70%;
}

.alert.ng-leave {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.alert.ng-leave-active {
  opacity: 0;
}

/*
 * Sidebar
 */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.sidebar {
  position: absolute;
  top: 130px;
  left: -167px;;
  transition: 100ms left;
  z-index: 1000;
}

#navigation-toggle {
  position: absolute;
  left: 0px;
  box-shadow: 0px 5px 5px 0px #888888;
  
  color: white;
  text-decoration: none;
  padding: 14px;
  background-color: #1a1a1a;
}

.show {
  left: 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px 5px 0px #888888;
}

.navigation-items a, .navigation-title {
  display: block;
  line-height: 2em;
  text-decoration: none;
  padding: 10px 30px;
  width: 160px;

  padding-right: 20px;
  padding-left: 20px;
  color: #8b8b8b;
  border-left: 3px solid #eaeaea;

  background-color: #f2f2f2;
}

.navigation-title {
  font-weight: bold;
  border-left: 0px;
  color: #8b8b8b;
  background-color: #1a1a1a;
}

.navigation-items a:hover {
  color: #0e0e0e;
  background-color: #cacaca;
  border-left: 3px solid #ad542a;
}

.content {
  margin-left: 60px;
  margin-right: 25px;
}

/*
 * Responsive tables
 * http://embed.plnkr.co/fcdXKE
 */

table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 550px; /* this can vary */
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 50%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}

/* 404 */
.peekaboo-bkgr {
    content : "";
    display: block;
    position: absolute;

    background-image: url(../img/peekaboo_light.svg); 
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 80%;

    opacity: 0.2;
    z-index: -1;
}

.text-abs-center {
    text-align: center;
    position: absolute;
    top: 40%;
    bottom: 60%;
    width: 100%;
    color: #505050;
    font-family: Impact, fantasy;
    font-size: 80px;
}

.th-no-border {
    border: 0px !important;
}

.dropdown-menu > li > .checkbox {
  padding-left: 15px;
}
