<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Sidebar -->
<div ng-include='"partials/network/sidebar.html"'></div>

<!-- Content -->
<div class="container-fluid content" ng-controller="networkController">
  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <div class="form-group">
    <div class="input-btn-group pull-right">
      <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
    </div>
  </div>

  <h1 class="page-title">General</h1>

  <div>
    <dl class="dl-horizontal">
      <dt>ethtool Installed</dt>
      <dd>{{ network.ethtoolInstalled }}</dd>
      <dt>ethtool Version</dt>
      <dd>{{ network.ethtoolVersion }}</dd>
      <dt>lldpctl Installed</dt>
      <dd>{{ network.lldpctlInstalled }}</dd>
      <dt>lldpctl Version</dt>
      <dd>{{ network.lldpctlVersion }}</dd>
      <dt>onload Installed</dt>
      <dd>{{ network.onloadInstalled }}</dd>
      <dt>onload Version</dt>
      <dd>{{ network.onloadVersion }}</dd>
      <dt>sfctool Installed</dt>
      <dd>{{ network.sfctoolInstalled }}</dd>
      <dt>sfctool Version</dt>
      <dd>{{ network.sfctoolVersion }}</dd>
      <dt>sfkey Installed</dt>
      <dd>{{ network.sfkeyInstalled }}</dd>
      <dt>sfkey Version</dt>
      <dd>{{ network.sfkeyVersion }}</dd>
    </dl>
  </div>
</div>
