<table ng-controller="routesController" st-table="displayedRoutes" st-safe-src="routes" class="table table-striped sortable">
  <thead>
    <tr>
      <th colspan="8" class="container">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="destination">Destination</th>
      <th st-sort="gateway">Gateway</th>
      <th st-sort="genmask">Genmask</th>
      <th st-sort="flags">Flags</th>
      <th st-sort="mss">MSS</th>
      <th st-sort="window">Window</th>
      <th st-sort="irtt">IRTT</th>
      <th st-sort="interface">Interface</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="route in displayedRoutes">
      <td>{{ route.destination }}</td>
      <td>{{ route.gateway }}</td>
      <td>{{ route.genmask }}</td>
      <td>{{ route.flags }}</td>
      <td>{{ route.mss }}</td>
      <td>{{ route.window }}</td>
      <td>{{ route.irtt }}</td>
      <td>{{ route.interface }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
