<table ng-controller="routesController" st-table="displayedRoutes" st-safe-src="routes" class="table table-striped fixed sortable">
  <thead>
    <tr>
      <th colspan="7" class="container">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="destination">Destination</th>
      <th st-sort="gateway">Gateway</th>
      <th st-sort="flags">Flags</th>
      <th st-sort="refs">Refs</th>
      <th st-sort="use">Use</th>
      <th st-sort="netif">Netif</th>
      <th st-sort="expire">Expire</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="route in displayedRoutes">
      <td>{{ route.destination }}</td>
      <td>{{ route.gateway }}</td>
      <td>{{ route.flags }}</td>
      <td>{{ route.refs }}</td>
      <td>{{ route.use }}</td>
      <td>{{ route.netif }}</td>
      <td>{{ route.expire }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
