<div class="container">
  <div ng-controller="SidebarController">
    <a href="" id="navigation-toggle" ng-click="toggleState()" uib-tooltip="Menu" tooltip-placement="right-bottom" tooltip-popup-delay="1000" tooltip-trigger="mouseenter"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div class="sidebar" sidebar-directive="state">
      <ul class="navigation">
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'general'}"><a href="#/network/general">General</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'interfaces'}"><a href="#/network/interfaces">Interfaces</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'routes'}"><a href="#/network/routes">Routes</a></li>
      </ul>
    </div>
  </div>
</div>
