<div class="container">
  <div ng-controller="SidebarController">
    <div class="sidebar" sidebar-directive="state">
      <a href="" id="navigation-toggle" ng-click="toggleState()"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <ul class="navigation">
        <li class="navigation-title">Menu</li>
        <li class="navigation-items"><a href="#/network/general">General</a></li>
        <li class="navigation-items"><a href="#/network/interfaces">Interfaces</a></li>
        <li class="navigation-items""><a href="#/network/routes">Routes</a></li>
      </ul>
    </div>
  </div>
</div>
