<nav class="navbar navbar-inverse navbar-static-top" ng-controller="osController">
  <div class="container-fluid">
    <div class="navbar-header" uib-tooltip="Dashboard" tooltip-placement="bottom" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" ng-mouseover="logoImg='peekaboo-open-hands.svg'" ng-mouseleave="logoImg='peekaboo.svg'">
      <a class="navbar-brand" href="#/">
        <img class="img-responsive2" ng-src="img/{{logoImg}}">
      </a>
      <a class="navbar-brand navbar-brand-text" href="#/">
        <img class="img-responsive2"  ng-src="img/peekaboo-text.svg">
      </a>
    </div>
    <div>
      <ul ng-if="os.kernel == 'linux'" class="nav navbar-nav">
        <li ng-class="{active: activeTab == 'network'}"><a href="#/network">Network</a></li>
        <li ng-class="{active: activeTab == 'storage'}"><a href="#/storage">Storage</a></li>
        <li ng-class="{active: activeTab == 'system'}"><a href="#/system">System</a></li>
        <li ng-class="{active: activeTab == 'docker'}"><a href="#/docker">Docker</a></li>
      </ul>
      <ul ng-if="os.kernel == 'darwin'" class="nav navbar-nav">
        <li ng-class="{active: activeTab == 'network'}"><a href="#/network">Network</a></li>
        <li ng-class="{active: activeTab == 'docker'}"><a href="#/docker">Docker</a></li>
      </ul>
    </div>
  </div>
</nav>
