<nav class="navbar navbar-inverse navbar-static-top" ng-controller="osController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" uib-tooltip="Dashboard" tooltip-placement="bottom" tooltip-trigger="mouseenter"><img class="img-responsive2" src="/img/peekaboo_dark.png"></a>
    </div>
    <div>
      <ul ng-if="os.kernel == 'linux'" class="nav navbar-nav">
        <li ng-class="{active: activeTab == 'network'}"><a href="#/network">Network</a></li>
        <li ng-class="{active: activeTab == 'storage'}"><a href="#/storage">Storage</a></li>
        <li ng-class="{active: activeTab == 'system'}"><a href="#/system">System</a></li>
        <li ng-class="{active: activeTab == 'docker'}"><a href="#/docker">Docker</a></li>
      </ul>
      <ul ng-if="os.kernel == 'darwin'" class="nav navbar-nav">
        <li ng-class="{active: activeTab == 'network'}"><a href="#/network">Network</a></li>
        <li ng-class="{active: activeTab == 'docker'}"><a href="#/docker">Docker</a></li>
      </ul>
    </div>
  </div>
</nav>
