<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Container -->
<div class="container-fluid">

  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/docker/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<div ng-controller="dockerController">
  <dl class="dl-horizontal">
    <dt>Running</dt>
    <dd>{{ docker.running }}</dd>
    <dt>Version</dt>
    <dd>{{ docker.version }}</dd>
    <dt>Build</dt>
    <dd>{{ docker.build }}</dd>
  </dl>
</div>

</div>
