<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Container -->
<div class="container-fluid">

  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/docker/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<table ng-controller="imagesController" st-table="displayedImages" st-safe-src="images" class="table table-striped sortable">
  <thead>
    <tr>
      <th colspan="5">
        <div class="btn-toolbar" role="toolbar">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
          <div class="btn-group pull-right" role="group">
            <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="id">ID</th>
      <th st-sort="repo">Repository</th>
      <th st-sort="tag">Tag</th>
      <th st-sort="created">Created</th>
      <th st-sort="virtSize">Virtual&nbsp;Size</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="image in displayedImages">
      <td>{{ image.id | limitTo:12 }}</td>
      <td>{{ image.repo }}</td>
      <td>{{ image.tag }}</td>
      <td>{{ image.created }}</td>
      <td>{{ image.virtSize }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>

</div>
