<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li ng-class="{active: sideActiveTab == 'general'}"><a href="#/docker/general"><span class="fa fa-tachometer"></span>&emsp;General</a></li>
    <li ng-class="{active: sideActiveTab == 'images'}"><a href="#/docker/images"><span class="fa fa-picture-o"></span>&emsp;Images</a></li>
    <li ng-class="{active: sideActiveTab == 'containers'}"><a href="#/docker/containers"><span class="fa fa-archive"></span>&emsp;Containers</a></li>
  </ul>
</div>
