<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Container -->
<div class="container">

<flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/storage/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<table ng-controller="disksController" st-table="displayedDisks" st-safe-src="disks" class="table table-striped sortable">
  <thead>
    <tr>
      <th colspan="3" class="container">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-range="30" st-sort="device">Device</th>
      <th st-range="30" st-sort="name">Name</th>
      <th st-range="40" st-sort="sizeGB">Size (GB)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="disk in displayedDisks">
      <td st-range=="30">{{ disk.device }}</td>
      <td st-range=="30">{{ disk.name }}</td>
      <td st-range=="40">{{ disk.sizeGB | number:2 }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>

</div>
