<div class="container">
  <div ng-controller="SidebarController">
    <a href="" id="navigation-toggle" ng-click="toggleState()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div class="sidebar" sidebar-directive="state">
      <ul class="navigation">
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'disks'}"><a href="#/storage/disks">Disks</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'lvm/physvols'}"><a href="#/storage/lvm/physvols">LVM Physical Volumes</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'lvm/logvols'}"><a href="#/storage/lvm/logvols">LVM Logical Volumes</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'lvm/volgrps'}"><a href="#/storage/lvm/volgrps">LVM Volume Groups</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'mounts'}"><a href="#/storage/mounts">Mounts</a></li>
      </ul>
    </div>
  </div>
</div>
