<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li ng-class="{active: sideActiveTab == 'disks'}"><a href="#/storage/disks">Disks</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/physvols'}"><a href="#/storage/lvm/physvols">LVM Physical Vols</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/logvols'}"><a href="#/storage/lvm/logvols">LVM Logical Vols</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/volgrps'}"><a href="#/storage/lvm/volgrps">LVM Vol. Groups</a></li>
    <li ng-class="{active: sideActiveTab == 'mounts'}"><a href="#/storage/mounts">Mounts</a></li>
  </ul>
</div>
