<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li ng-class="{active: sideActiveTab == 'disks'}"><a href="#/storage/disks"><span class="fa fa-database"></span>&emsp;Disks</a></li>
    <li><a href=""><span class="fa fa-minus-square"></span>&emsp;LVM</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/physvols'}"><a href="#/storage/lvm/physvols">&emsp;<span class="fa fa-database"></span>&emsp;Physical Vols</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/logvols'}"><a href="#/storage/lvm/logvols">&emsp;<span class="fa fa-database"></span>&emsp;Logical Vols</a></li>
    <li ng-class="{active: sideActiveTab == 'lvm/volgrps'}"><a href="#/storage/lvm/volgrps">&emsp;<span class="fa fa-database"></span>&emsp;Vol. Groups</a></li>
    <li ng-class="{active: sideActiveTab == 'mounts'}"><a href="#/storage/mounts"><span class="fa fa-file"></span>&emsp;Mounts</a></li>
  </ul>
</div>
