<fieldset>
  <dl class="dl-horizontal" ng-controller="ipmiController">
    <dt>Power Consumption</dt>
    <dd>{{ ipmi.powerConsWatts }} Watts</dt>
    <dt>Inlet Temp.</dt>
    <dd>{{ ipmi.inletTempDegrC }} C</dt>
    <dt>Exhaust Temp.</dt>
    <dd>{{ ipmi.exhaustTempDegrC }} C</dt>
  </dl>
</fieldset>

<fieldset>
  <legend>Power Supply 1</legend>
  <dl class="dl-horizontal" ng-controller="ipmiController">
    <dt>Current</dt>
    <dd>{{ ipmi.current1Amps | number:2 }} Amps</dd>
    <dt>Voltage</dt>
    <dd>{{ ipmi.voltage1Volts }} Volts</dd>
  </dl>
</fieldset>

<fieldset>
  <legend>Power Supply 2</legend>
  <dl class="dl-horizontal" ng-controller="ipmiController">
    <dt>Current</dt>
    <dd>{{ ipmi.current2Amps | number:2 }} Amps</dd>
    <dt>Voltage</dt>
    <dd>{{ ipmi.voltage2Volts }} Volts</dd>
  </dl>
</fieldset>

<fieldset ng-controller="ipmiController">
  <legend>Fans</legend>
  <dl class="dl-horizontal">
    <div ng-repeat="fan in ipmi.fans">
      <dt>{{ fan.name }}</dt>
      <dd>{{ fan.speedRPM }} RPM</dd>
    </div>
  </dl>
</fieldset>
