<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Sidebar -->
<div ng-include='"partials/system/sidebar.html"'></div>

<!-- Content -->
<div class="container-fluid content" ng-controller="ipmiController">
  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <div class="form-group">
    <div class="input-btn-group pull-right">
      <a href="api/system/ipmi" class="btn btn-default">JSON</a>
      <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
    </div>
  </div>

  <h1 class="page-title">IPMI</h1>

  <fieldset>
    <dl class="dl-horizontal">
      <dt>ipmitool Installed</dt>
      <dd>{{ ipmi.ipmitoolInstalled }}</dt>
      <dt>ipmitool Version</dt>
      <dd>{{ ipmi.ipmitoolVersion }}</dt>
    </dl>
  </fieldset>
</div>
