<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Sidebar -->
<div ng-include='"partials/system/sidebar.html"'></div>

<!-- Content -->
<div class="container-fluid content" ng-controller="ipmiController">
  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <div class="form-group">
    <div class="input-btn-group pull-right">
      <a href="api/system/ipmi" class="btn btn-default">JSON</a>
      <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
    </div>
  </div>

  <h1 class="page-title">IPMI</h1>

  <fieldset class="top-margin">
    <dl class="dl-horizontal">
      <dt>ipmitool Installed</dt>
      <dd>{{ ipmi.ipmitoolInstalled }}</dt>
      <dt>ipmitool Version</dt>
      <dd>{{ ipmi.ipmitoolVersion }}</dt>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Management Interface</legend>
    <dl class="dl-horizontal">
    <dl class="dl-horizontal">
      <dt>DNS Names</dt>
      <dd>
        <ul ng-repeat="dnsName in ipmi.dnsNames" class="list-unstyled">
          <li><a href="http://{{ dnsName }}" target="_blank">{{ dnsName }}</a></li>
        </ul>
      </dd>
      <dt>IP Source</dt>
      <dd>{{ ipmi.ipSource }}</dt>
      <dt>IP Address</dt>
      <dd><a href="http://{{ ipmi.ipAddr }}" target="_blank">{{ ipmi.ipAddr }}</a></dt>
      <dt>Netmask</dt>
      <dd>{{ ipmi.netmask }}</dt>
      <dt>Gateway</dt>
      <dd>{{ ipmi.gateway }}</dt>
    </dl>
  </fieldset>
</div>
