<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Container -->
<div class="container-fluid">

  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/system/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<table ng-controller="modulesController" st-table="displayedModules" st-safe-src="modules" class="table table-striped sortable">
  <thead>
    <tr>
      <th colspan="3" class="container">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="module">Module</th>
      <th st-sort="size">Size</th>
      <th st-sort="usedBy">Used By</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="module in displayedModules">
      <td>{{ module.module }}</td>
      <td>{{ module.size }}</td>
      <td>{{ module.usedBy | joinBy:', ' }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>

</div>
