<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Container -->
<div class="container-fluid">

  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/system/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<table ng-controller="pciCardsController" st-table="displayedPCICards" st-safe-src="pciCards" class="table table-striped sortable">
  <thead>
    <tr>
      <th colspan="8">
        <div class="btn-toolbar" role="toolbar">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search...">
          </div>
          <div class="btn-group pull-right" role="group">
            <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="slot">Slot</th>
      <th st-sort="class">Class</th>
      <th st-sort="vendor">Release</th>
      <th st-sort="device">Device</th>
      <th st-sort="subVendor">Subsys. Vendor</th>
      <th st-sort="subDevice">Subsys. Device</th>
      <th st-sort="revision">Revision</th>
      <th st-sort="progIntf">Prog. Interface</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pciCard in displayedPCICards">
      <td>{{ pciCard.slot }}</td>
      <td>{{ pciCard.class }}</td>
      <td>{{ pciCard.vendor }}</td>
      <td>{{ pciCard.device }}</td>
      <td>{{ pciCard.subVendor }}</td>
      <td>{{ pciCard.subDevice }}</td>
      <td>{{ pciCard.revision }}</td>
      <td>{{ pciCard.progIntf }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>

</div>
