<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li ng-class="{active: sideActiveTab == 'sysctl'}"><a href="#/system/sysctl">Sysctl</a></li>
    <li ng-class="{active: sideActiveTab == 'memory'}"><a href="#/system/memory">Memory</a></li>
    <li ng-class="{active: sideActiveTab == 'ipmi'}"><a href="#/system/ipmi">IPMI</a></li>
    <li ng-class="{active: sideActiveTab == 'kernelcfg'}"><a href="#/system/kernelcfg">Kernel Config</a></li>
    <li ng-class="{active: sideActiveTab == 'rpms'}"><a href="#/system/rpms">RPM</a></li>
    <li ng-class="{active: sideActiveTab == 'pcicards'}"><a href="#/system/pcicards">PCI</a></li>
    <li ng-class="{active: sideActiveTab == 'modules'}"><a href="#/system/modules">Kernel Modules</a></li>
  </ul>
</div>
