<div class="container">
  <div ng-controller="SidebarController">
    <a href="" id="navigation-toggle" ng-click="state = !state" uib-tooltip="Menu" tooltip-placement="right-bottom" tooltip-popup-delay="1000" tooltip-trigger="mouseenter"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div class="sidebar" sidebar-directive="state" click-outside="state = false" outside-if-not="navigation-toggle">
      <ul class="navigation">
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'sysctl'}"><a href="#/system/sysctl">Sysctl</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'memory'}"><a href="#/system/memory">Memory</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'ipmi'}"><a href="#/system/ipmi">IPMI</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'ipmi/sensors'}"><a href="#/system/ipmi/sensors">IPMI Sensors</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'rpms'}"><a href="#/system/rpms">RPM Packages</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'pcicards'}"><a href="#/system/pcicards">PCI Cards</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'kernel/config'}"><a href="#/system/kernel/config">Kernel Config</a></li>
        <li class="navigation-items" ng-class="{active: sideActiveTab == 'kernel/modules'}"><a href="#/system/kernel/modules">Kernel Modules</a></li>
      </ul>
    </div>
  </div>
</div>
