<div class="container">
  <div ng-controller="SidebarController">
    <a href="" id="navigation-toggle" ng-click="toggleState()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div class="sidebar" sidebar-directive="state">
      <ul class="navigation">
        <li class="navigation-title">Menu</li>
        <li class="navigation-items"><a href="#/system/sysctl">Sysctl</a></li>
        <li class="navigation-items"><a href="#/system/memory">Memory</a></li>
        <li class="navigation-items"><a href="#/system/ipmi">IPMI</a></li>
        <li class="navigation-items"><a href="#/system/rpms">RPM</a></li>
        <li class="navigation-items"><a href="#/system/pcicards">PCI</a></li>
        <li class="navigation-items"><a href="#/system/kernel/config">Kernel Config</a></li>
        <li class="navigation-items"><a href="#/system/kernel/modules">Kernel Modules</a></li>
      </ul>
    </div>
  </div>
</div>
