<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Sidebar -->
<div ng-include='"partials/system/sidebar.html"'></div>

<!-- Content -->
<div class="container-fluid content" ng-controller="sysctlsController">
  <flash-message duration="4" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <div class="form-group">
    <div class="input-btn-group pull-right">
      <button type="button" ng-click="refresh()" class="btn btn-md btn-success"><i class="fa fa-refresh"> Refresh</i></button>
    </div>
  </div>
  <table st-table="displayedSysctls" st-safe-src="sysctls" class="table table-striped sortable">
    <thead>
      <tr>
        <th colspan="0" class="th-no-border">
          <div class="btn-toolbar" role="toolbar">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input st-search="" type="text" class="form-control" placeholder="Search...">
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th st-ratio="30" st-sort="key">Key</th>
        <th st-ratio="70" st-sort="value">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="sysctl in displayedSysctls">
        <td st-ratio="30">{{ sysctl.key }}</td>
        <td st-ratio="70">{{ sysctl.value }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="0" class="text-center">
          <div st-pagination="" st-items-by-page="10"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
